@media ( hover ), ( min-width: 992px )
  .navbar
    &-menu
      &__link
        position: relative
        &:hover
          &::before
            right: -5%
            left: -5%
            width: 110%
            transition: 200ms ease all
        &::before
          content: ''
          position: absolute
          left: 50%
          bottom: -20%
          height: 2px
          width: 0
          background: $primary
          transition: 500ms ease all      
  .button
    &:hover
      color: $primary
      background: $dark
      box-shadow: -1px -1px 5px 0px $primary, 7px 7px 20px 0px $dark,  4px 4px 5px 0px $dark
      &::after, &::before
        right: 0
        width: 100%
        transition: 300ms ease all
      &::after
        left: 0  
    &::before, &::after
      content: ''
      position: absolute
      top: 0
      right: 50%
      height: 2px
      width: 0
      background: $primary
      transition: 300ms ease all
    &::after
      right: inherit
      top: inherit
      left: 50%
      bottom: 0
.booking
  &__phone
    &-number
      &:hover
        color: $primary
        fill: $primary
.hotel
  &-slider
    &__button
      &:hover
        fill: $primary
        fill-opacity: 0.7
.reviews
  &-slider
    &__button
      &:hover
        fill: $primary
        fill-opacity: 0.9
.footer
  &__link
    &:hover
      color: $primary
      opacity: 0.9
      fill: $primary
      fill-opacity: 0.9
  &__contact
    &-phone
      &:hover
        color: $primary
        opacity: 0.9
  &__contact
    &-email
      &:hover
        color: $primary
        opacity: 0.9

