@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
@media ( max-width:  992px )
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 47px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &-board
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .hotel-slider
    width: 100%
  .booking
    padding: 29px 22px 26px 23px
    width: 340px
  .map-viewport
    width: 340px
    height: 210px
  .newsletter
    padding: 92px 0
    &-container
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 37.65px
      margin-bottom: 51px
    &-slider
      &__item
        max-width: 579px
        &::before
          display: none
        &::after
          display: none
      &__review-text
        max-width: 455px
      &__button
        transform: translateY(-50%)
        &--next
          right: 0
        &--prev
          left: 0    
@media ( max-width:768px )
  .container
    max-width: 576px
    width: 90%
  .navbar
    &-top
      padding: 28px 0
    &__search, &-menu, &__user
      display: none

  .menu-burger
    //cursor: pointer
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: #fff
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__about
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__stars
        flex-basis: auto
        margin-bottom: 0
        margin-right: 23px
      &__title
        margin-top: 10px
        flex-basis: 100%
      // &__description
      //   letter-spacing: -0.18px
    &-wrapper
      justify-content: space-between
    &-board
      flex-direction: column
      min-height: 443px
    &__slider
      margin-top: 18px
      margin-bottom: 20px
  .hotel-slider
    height: 370px
  .booking
    width: 100%
  .map-viewport
    width: 100%
  .newsletter
    &-container
      max-width: 576px
      width: 90%
    &-title
      font-size: 20px
      line-height: 25.1px
      &__strong
        font-size: 30px
        line-height: 37.65px
  .subscribe
    width: 280px
  .reviews
    &-slider
      &__item
        max-width: 430px
        padding: 0 27px 36px 31px
      &__profile
        margin-bottom: 33px
      &__review-text
        max-width: 320px
@media ( max-width: 576px )
  .container
    min-width: 280px
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
  .hotel-slider
    height: 243px
  .newsletter
    padding: 76px 0 83px 0
    &-container
      min-width: 280px
      flex-direction: column
      align-items: flex-start
    &-title
      &__strong
        margin-top: 5px
    &__subscribe
      margin-top: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        max-width: 320px
      &__review-text
        max-width: 219px
    &__title
      font-size: 24px
      line-height: 30px
      margin-bottom: 43px
      padding: 0 50px
  
@media ( max-width: 420px )
  .container,
  .newsletter-container
    max-width: 280px
  .hotel
    &-board
      min-height: 403px
  .hotel-slider
    height: 179px
  .map-viewport
    height: 173px
  .subscribe
    &__input
      padding: 17px 75px 17px 20px
  .reviews
    &__title
      padding: 0
      font-size: 18px
      line-height: 22.59px
    &-slider
      &__button
        top: 45px
        transform: translateY(-50%) //my
        &--next
          //right: 50% //Artem
          //margin-right: -65px //Artem
          //transform: translate(50%, 0) //Artem
          right: 35px //my
        &--prev
          //left: 50% //Artem
          //margin-left: -65px //Artem
          //transform: translate(-50%, 0) //Artem
          left: 34px //my
      &__review-text
        text-align: left
        letter-spacing: -0.35px
