@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel-slider
    width: 590px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%

@media ( max-width: 992px )
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 47px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &-board
      flex-direction: row
    &__slider
      margin-bottom: 30px
  .hotel-slider
    width: 100%
  .booking
    padding: 29px 22px 26px 23px
    width: 340px
  .map-viewport
    width: 340px
    height: 210px
  .newsletter
    padding: 92px 0
    &-container
      max-width: 700px
  .reviews
    padding-bottom: 60px
    &__title
      font-size: 30px
      line-height: 37.65px
      margin-bottom: 51px
    &-slider
      &__item
        max-width: 579px
        &::before
          display: none
        &::after
          display: none
      &__review-text
        max-width: 455px
      &__button
        transform: translateY(-50%)
        &--next
          right: 0
        &--prev
          left: 0
  .activities
    padding-bottom: 48px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 339px
    height: 255px
    &__title
      padding-right: 87px
  .footer
    padding-top: 73px
    padding-bottom: 33px
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr)) 40px 150px
      grid-auto-rows: minmax(28px, min-content)
      grid-gap: 10px
    &__title
      &--inline
        margin-right: 44px
        margin-left: -18px
      &--mb-32
        margin-bottom: 35px
    &__logo
      width: 96px
      grid-row: 1/ span 1
      margin-top: 0
    &__social
      &-network
        grid-row: 1/ span 1
        grid-column: 2/ span 3
        align-self: center
        margin-top: 12px
        margin-left: 38px
    &__categories
      grid-row: 3/ span 1
      grid-column: 1/ span 1
    &__additional
      grid-row: 3/ span 1
      grid-column: 2/ span 2
      margin-left: 35px
    &__legal
      grid-row: 3 / span 1
      grid-column: 4/ span 2
      margin-right: 10px
    &__contact
      &-details
        grid-row: 5
        grid-column: 1/ span 5
      &-form
        grid-row: 7
        grid-column: 1/ span 4
        &--ml-5
          margin-top: -8px
          margin-left: 0
    &__input
      &-group
        flex-basis: 48%
    &__item
      line-height: 158%
      &--mb-2
        padding-left: 7px
      &--bottom
        padding: 0 2px
        margin-bottom: -3px
    &__bottom
      &-links
        grid-row: 9
        grid-column: 1 / span 3
         //align-self: end
        justify-self: start
      &-image
        grid-row: 9
        grid-column: 5 / span 1
        margin-bottom: 0
    &__ul
      &--ml-5
        margin-left: 0

@media ( max-width: 767px )
  .container
    max-width: 576px
    width: 90%
  .body
    padding-top: 74px
  .navbar
    &-top
      padding: 28px 0
    &-bottom
      display: none
      position: fixed
      top: 74px
      left: 0
      right: 0
      bottom: 0
      padding-top: 10px
      height: calc(100% - 74px)
      overflow-y: auto
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        display: none
      &--visible
        display: block
    &--mobile
      &--fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 100
    &-menu
      padding: 22px 16px
      flex-direction: column
      align-items: center
      &__item
        &--mobile
          &--visible
            display: block
      &__link
        padding: 10px 0
        display: block
    &__user
      flex-direction: column
      justify-content: center
      //margin-bottom: 6px
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          padding-bottom: 6px
    &__search
      margin-left: 0
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
          margin: 20px 0 30px
  .search
    &__input
      width: 100%
      max-width: 350px
      //padding-left: 15px
  .menu
    &-burger
      //cursor: pointer
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: inherit
        margin-top: 10px
        margin-left: 0
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-info
      &__about
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__stars
        flex-basis: auto
        margin-bottom: 0
        margin-right: 17px
      &__title
        margin-top: 10px
        flex-basis: 100%
      // &__description
      //   letter-spacing: -0.18px
    &-wrapper
      justify-content: space-between
    &-board
      flex-direction: column
      min-height: 443px
    &__slider
      margin-top: 18px
      margin-bottom: 20px
  .hotel-slider
    height: 370px
  .booking
    width: 100%
  .map-viewport
    width: 100%
  .newsletter
    &-container
      max-width: 576px
      width: 90%
    &-title
      font-size: 20px
      line-height: 25.1px
      &__strong
        font-size: 30px
        line-height: 37.65px
  .subscribe
    width: 280px
  .reviews
    &-slider
      &__item
        max-width: 430px
        padding: 0 27px 36px 31px
      &__profile
        margin-bottom: 33px
      &__review-text
        max-width: 320px
  .card
    width: 48%
    height: 230px
    //max-width: 278px
    //min-width: 249px
  .footer
    &-wrapper
      grid-template-columns: repeat(3, 1fr)
    &__social
      &-network
        grid-column: 2/ span 2
        align-self: center
        justify-self: end
        margin-top: 12px
        margin-left: 0px
    &__additional
      grid-column: span 1
      margin-left: 0
    &__legal
      grid-column: 3/ span 1
      margin-left: 0
    &__contact
      &-details
        grid-column: span 3
        &--mt-10
          margin-top: 0
    &__item
      &:last-child
        margin-bottom: 0
    &__bottom
      &-links
        grid-column: span 2
        justify-self: start
      &-image
        grid-row: 9
        grid-column: span 1

@media ( max-width: 576px )
  .container
    min-width: 280px
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
  .hotel-slider
    height: 243px
  .newsletter
    padding: 76px 0 83px 0
    &-container
      min-width: 280px
      flex-direction: column
      align-items: flex-start
    &-title
      &__strong
        margin-top: 5px
    &__group
      width: 100%
    &__subscribe
      margin-top: 37px
  .subscribe
    width: 100%
  .reviews
    padding-bottom: 50px
    &-slider
      &__item
        max-width: 320px
      &__review-text
        max-width: 219px
    &__title
      font-size: 24px
      line-height: 30px
      margin-bottom: 43px
      padding: 0 50px
  .activities
    padding: 35px 0 40px 0 //pixelPerfect!!!!! 55
    &__card
      margin: 0 auto 20px auto
  .card
    width: 100%
    height: 275px
  .footer
    &__logo
      width: 97px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 30px
    &__social
      &-network
        grid-column: 2/ span 1
        align-items: center
        justify-content: space-between
        justify-self: stretch
        margin-left: 0
        margin-top: 0
    &__title
      &--inline
        margin: 0
        margin-right: 10px
    &__additional
      grid-row: 3
      grid-column: span 2
      margin-left: 0
    &__categories
      grid-row: 2
    &__legal
      grid-row: 2
      grid-column: 2/ span 1
      justify-self: start
      margin-left: 0
    &__contact
      &-details
        grid-row: 4
        grid-column: span 2
      &-form
        grid-row: 5
        grid-column: span 2
    &__input
      &-group
        flex-basis: 100%
    &__bottom
      &-links
        grid-row: 6
        grid-column: span 2
        justify-self: center
      &-image
        grid-row: 7
        grid-column: span 2
        justify-self: center
  .modal
    &__dialog
      padding: 33px 55px
      max-width: 412px
@media ( max-width: 420px )
  .container,
  .newsletter-container
    max-width: 280px
  .hotel
    &-board
      min-height: 403px
  .hotel-slider
    height: 179px
  .map-viewport
    height: 173px
  .subscribe
    &__input
      padding: 17px 75px 17px 20px
  .reviews
    &__title
      padding: 0
      font-size: 18px
      line-height: 22.59px
    &-slider
      &__button
        top: 45px
        transform: translateY(-50%) //my
        &--next
          //right: 50% //Artem
          //margin-right: -65px //Artem
          //transform: translate(50%, 0) //Artem
          right: 35px //my
        &--prev
          //left: 50% //Artem
          //margin-left: -65px //Artem
          //transform: translate(-50%, 0) //Artem
          left: 34px //my
      &__review-text
        text-align: left
        letter-spacing: -0.35px
  .activities
    &__title
      margin-bottom: 35px //pixelPerfect
      font-size: 18px
      line-height: 23px
    &__card
      &:nth-child(1)
        order: 1
      &:nth-child(2)
        order: 3
      &:nth-child(3)
        order: 2
        margin-bottom: 28px
      &:nth-child(4)
        order: 4
  .card
    height: 255px
    &__title
      padding-right: 20px
  .footer
    padding-top: 70px
    padding-bottom: 36px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 29px
    &__social
      &-network
        margin-top: 7px
        grid-row: 2
        grid-column: 1/2
        flex-direction: column
        align-items: start
      &-links
        margin-top: 24px
    &__categories
      grid-row: 5
      grid-column: 1/2
      margin-left: 0
    &__additional
      grid-row: 4
      grid-column: 1/2
    &__legal
      grid-row: 3
      grid-column: 1/2
    &__contact
      &-details
        grid-row: 6
        grid-column: 1/2
        &--mt-10
          margin-top: 11px
      &-icon
        &-wrapper
          min-width: 27px
      &-form
        grid-row: 7
        grid-column: 1/2
        &--ml-5
          margin-top: 25px
    &__bottom
      &-links
        grid-row: 8
        grid-column: 1/2
        justify-self: stretch
        margin-bottom: 9px
      &-image
        grid-row: 8
        grid-column: 1/2
        justify-self: start
        margin-bottom: -20px
    &__ul
      &--bottom
        justify-content: space-between
    &__item
      line-height: 157%
      &--bottom
        padding: 0
      &--mb-2
        padding-left: 3px
        margin-bottom: 21px
    &__title
      &--mb-32
        margin-bottom: 14px
    &__info
      order: 1
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__message
      margin-bottom: 15px
  .modal
    &__dialog
      padding: 33px 20px
      max-width: 320px

//responsive for small Horizontal device
@media ( max-height: 487px )
  .modal
    &__dialog
      border-radius: 4px
      min-height: 0
      height: 100vh
      overflow-y: auto
      overscroll-behavior: contain
      -ms-overflow-style: none
      scrollbar-width: none
      &::-webkit-scrollbar
        display: none
