@media ( max-width: 1200px )
  .container
    max-width: 960px
@media ( max-width:  992px )
  .container
    max-width: 700px
  .navbar
    &-top
      padding: 30px 0
    &-menu
      padding: 22px 14px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 47px
  .logo
    width: 133px
  .search
    &__input
      width: 340px
@media ( max-width:768px )
  .container
    max-width: 576px
    width: 90%
  .navbar
    &-top
      padding: 28px 0
    &__search, &-menu, &__user
      display: none

  .menu-burger
    //cursor: pointer
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    border: none
    background-color: #fff
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .hotel
    padding-top: 5px
    padding-bottom: 20px
    &-info
      &__about
        width: 100%
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
      &__stars
        flex-basis: auto
        margin-bottom: 0
        margin-right: 23px
      &__title
        margin-top: 10px
        flex-basis: 100%
      // &__description
      //   letter-spacing: -0.18px
    &-wrapper
      justify-content: space-between

@media ( max-width: 576px )
  .container
    min-width: 280px
  .navbar
    &-top
      padding: 28px 0
  .logo
    width: 99px
