.footer
   font-family: Mulish
   font-style: normal
   background-color: $dark
   color: $light
   padding: 108px 0 46px
   &__ul
      padding: 0
      margin: 0
      list-style-type: none
   &__item
      font-weight: 400
      font-size: 14px
      line-height: 160%
