.header
  background-color: #fff
  font-family: 'Mulish', sans-serif
  font-weight: 400
  &-top
    display: flex
    align-items: center
    justify-content: space-between
    padding: 40px 0
  &__search
    margin-right: auto
    margin-left: 108px
.search
  display: flex
  position: relative
  overflow: hidden
  border-radius: 6px
  height: 40px
  &__input
    cursor: text
    width: 350px
    height: 100%
    padding-left: 23px
    padding-right: 78px
    background-color: #F5FAFE
    border: none
    font-size: 12px
    line-height: 15px
    &:focus
      outline: none
    &::placeholder
      color: inherit
  &__button
    cursor: pointer
    position: absolute
    background: $primary
    border: none
    top: 0
    right: 0
    width: 65px
    height: 100%
.user
  display: flex
  align-items: center
  text-decoration: none
  color: inherit
  &__avatar
    width: 40px
    height: 40px
    border-radius: 50%
    object-fit: cover
  &__name
    margin-left: 18px
    font-size: 14px
    line-height: 18px
    