.hotel
  padding-top: 23px
  padding-bottom: 70px
  font-family: 'Mulish', sans-serif
  &__slider
    margin: 0
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__stars
      margin-bottom: 5px
      flex-basis: 100%
    &__title
      font-weight: 700
      font-size: 24px
      line-height: 30px
      margin: 0
      text-transform: uppercase
    &__offer
      margin-left: 13px
    &__description
      font-weight: 400
      font-size: 12px
      line-height: 15.06px
      margin: 0
      // letter-spacing: 0.08px
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-grid
    display: flex
    justify-content: space-between
    //align-items: flex-start
  &-slider //@slider
    width: 728px
    height: 450px
    position: relative
    border-radius: 8px
    &__item
      &:after
        content: ''
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
        z-index: 10
    &__button
      cursor: pointer
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 30px
      height: 30px
      border: none
      z-index: 99
      background-repeat: no-repeat
      background-position: center
      background-size: 10px
      background-color: transparent
      &:focus-visible
        outline: none
      &--next
        right: 18px
        background-image: url("../img/arrow-next.svg")
      &--prev
        left: 18px
        background-image: url("../img/arrow-prev.svg")
    &__image
      min-width: 100%
      min-height: 100%
      object-fit: cover

  &-board
    display: flex
    justify-content: space-between
    flex-direction: column
.offer
  font-weight: 600
  font-size: 10px
  line-height: 13px
  color: $light
  padding: 4px 9px
  background-color: $primary
  border-radius: 3px
.stars
  line-height: 0
  font-size: 8px
.rating
  max-width: 65px
  min-height: 45px
  color: $light
  background-color: $primary
  text-align: center
  border-radius: 4px
  &__name
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: 700
    font-size: 0
    &--numerator
      font-size: 14px
      line-height: 18px
    &--denominator
      font-size: 10px
      line-height: 13px
.swiper
  // width: 100%
  // height: 100%
  // position: relative
  // border-radius: 8px

  &-slide

//.hotel
// Booking section
.booking
  font-family: 'Nunito', sans-serif
  font-weight: 400
  width: 350px
  min-height: 210px
  background: $dark
  border-radius: 8px
  color: $light
  padding: 29px 29px 26px 26px
  // display: flex
  // flex-direction: column
  // justify-content: space-between
  &__info
    display: flex
    //align-items: center
    justify-content: space-between
    margin-bottom: 8px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-size: 10px
    line-height: 13.64px
  &__value
    font-weight: 800
    font-size: 24px
    line-height: 31px
  &__per-room
    font-size: 12px
    line-height: 16.37px
  &__factor
    margin-left: 9px
    font-size: 12px
    line-height: 16.37px
  &__room
    // display: flex
    // align-items: end
    // justify-content: space-between
    // flex-direction: column
    margin-top: 4px
    //margin-bottom: 15px
  &__text
    //min-width: 80px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
  &__phone-call
    font-weight: 600
    font-size: 18px
    line-height: 24.55px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__phone-number
    display: flex
    align-items: center
    justify-content: space-between
    text-decoration: none
    color: inherit
  &__phone-display
    margin-left: 8px
  &__button
    cursor: pointer
    font-weight: 600
    font-size: 14px
    line-height: 19px
    width: 100%
    min-height: 45px
    //padding: 13px
    //align-items: center
    border-radius: 4px
    background-color: $primary
    color: $light
    border: none
.map-viewport
  width: 350px
  height: 213px
  //border-radius: 10px
  overflow: hidden
  &__frame
    width: 100%
    height: 100%
    border: 0
